/* MAKEUP PAGE */

div.question {
  text-align: center;
  font-size: 32px;
}

input.qInput {
  /*float: left;
  text-align: left;*/
}

label.qLabel {
  padding-left: 3%;
}

.another_container {
  width: 50%;
  margin: 25px auto;
  padding: 0 25px 40px 10px;
  background-color: #948589;
  border: 4px solid #696163;
  text-align: left;
  /*border-radius:5px;*/
  color: #ffffff;
  font-weight: bold;
  /*box-shadow: 5px 5px 5px #888;*/
}
